body {
    font-family: Arial, sans-serif;
    background-image: url("/src/img/tren.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    color: #000; /* Color de texto negro para todo el cuerpo */
}

.container-row {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    max-width: 1600px;
    gap: 20px; /* Espacio entre los divs */
}

.container {
    width: 48%;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #c0392b; /* Color rojo */
}

form {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #000; /* Color de texto negro */
}

form input[type="text"],
form input[type="number"] {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f5f2;
    color: #000; /* Color de texto negro */
}

form input[type="text"]:focus,
form input[type="number"]:focus {
    outline: none;
    border-color: #c0392b; /* Borde de enfoque rojo */
}

form button {
    background-color: #c0392b; /* Fondo rojo */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #a93226; /* Fondo rojo más oscuro en hover */
}

button#dfsBtn {
    background-color: #c0392b; /* Fondo rojo */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
}

button#dfsBtn:hover {
    background-color: #a93226; /* Fondo rojo más oscuro en hover */
}

#resultContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 50px;
    color: #000; /* Color de texto negro */
}